# Entornos y dependencias
node_modules/
venv/
.venv/
__pycache__/
*.py[cod]

# Compilaciones y cachés
dist/
.angular/
coverage/

# Datos locales y secretos
backend/data/*.db
backend/data/*.db-*
.env
*.log

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.idea/
.vscode/

